[user]
	name = Armin Samii [SH 537]
	email = samii@eecs.berkeley.edu
[core]
	editor = vim
[alias]
    lol  = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset %s\" --abbrev-commit
    lola = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset %s\" --abbrev-commit --all
    lola80 = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset%n        %s\" --abbrev-commit --all
[color]
    ui = auto
