*
!.vimrc
!.vim/plugin
!.screenrc
!.bashrc
!.gitignore
!.gitignore_global
!.gitconfig
!.git_completion.sh
!.make_completion_wrapper.sh
!.mpd
!.mpdscribble
!.mpd/mpd.conf
!.mpdscribble/mpdscribble.conf
!bin/*
