[user]
	name = Armin Samii
	email = samii@eecs.berkeley.edu
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = false
[alias]
    lol  = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset %s\" --abbrev-commit
    lola = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset %s\" --abbrev-commit --all
    lola80 = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %Cblue(%an)%C(white)%d%Creset%n        %s\" --abbrev-commit --all
    ll  = log --graph --decorate --pretty=format:\"%C(yellow)%h %Cred%cr %C(magenta)(%an)%C(white)%d%Creset%n%C(cyan)%s%n%Creset%n%b\" --abbrev-commit --all
[color]
    ui = auto
[push]
	default = matching
